body {
    margin:0;
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 1000px;

}

.container{
    margin:0px 166px;
}

.header{
    background-color:chocolate;
    color:black;
    height: 100px;
    background-repeat:no-repeat;
    background-size:cover; 


    
}

.header-line{
    padding-top: 60px;
    display:flex;
}

.nav-item{
    color:#fff;
    text-decoration: none;
    font-weight:700;
    font-size: 14px;
    margin-right:25px;
}


.footer{
    
    margin: 0;
    

    height: 30px;
    background-color:chocolate;
    width: 120%;
    color:#fff;
    position: fixed;
    top:700px;
    bottom:0;
    left: 0;
    text-decoration: none;
    font-weight:700;
    font-size: 14px;
    margin-right:25px;
    
}

.foota{
    position: fixed;
    top:700px;
    bottom:-5px;
    left: 160px;
}

.header-logo{
    margin: 100px 166px;
}

table{
    position:relative;
    top:110px;
    color:#fff;
}

.button{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color:#fff;
    position: relative; 
    left: 1100px;
    background-color:deeppink;
    border-radius: 6px;
    border: 2px solid darkred;
}


.massive{
    position: relative;
    left: 500px;
    top: 150px;

}

.photo{
    position: absolute;
    left: 1110px;
    top: 300px;
    border-radius: 30%;
}

.e-type {
    display: grid;
    grid-template-columns: repeat(auto-fit, 75px);
    grid-gap: 38px;
    justify-content: start;
  
    width: 1370px;
    border: 2px solid red;
    height: 400px;
    
    resize: both;
    overflow: hidden;
  }
  
  .type_e {
    border: 2px solid red;
    width: 100px;
    height: 50px;
    font: 20px sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 50px;
    text-align: center;
  }



